<%= form_for :session, url: session_path, 'data-abide': true, novalidate: true do |form| %>
  <div class="input-group">
    <span class="input-group-label"><i class="fa fa-envelope"></i></span>
    <%= form.text_field :email, type: 'email', placeholder: 'Email', class: "input-group-field", required: true %>
  </div>

  <div class="input-group">
    <span class="input-group-label"><i class="fa fa-lock"></i></span>
    <%= form.password_field :password, placeholder: 'Password', class: "input-group-field", required: true %>
  </div>

  <div class="submit-field">
    <%= form.submit "Sign in", class: "button" %>
  </div>
  <div class="other-links">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"), sign_up_path %>
    <% end %>
    <br>
    <%= link_to t(".forgot_password"), new_password_path %>
  </div>
<% end %>
