<div id="clearance" class="password-reset">
  <h2><%= t(".title") %></h2>

  <p><%= t(".description") %></p>

  <%= form_for :password_reset,
        url: [@user, :password, token: @user.confirmation_token],
        html: { method: :put } do |form| %>
    <div class="password-field">
      <%= form.password_field :password, placeholder: 'Password' %>
    </div>

    <div class="submit-field">
      <%= form.submit "Save this password", class: "button" %>
    </div>
  <% end %>
</div>
