<h1>New Hive</h1>

<%= form_with model: @hive, 'data-abide': true, novalidate: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name, required: true %>
  <%= form.fields_for :addresses, @address do |addresses_form| %>
    <%= addresses_form.label :street %>
    <%= addresses_form.text_field :street %>

    <%= addresses_form.label :street2 %>
    <%= addresses_form.text_field :street2 %>

    <%= addresses_form.label :city %>
    <%= addresses_form.text_field :city %>

    <%= addresses_form.label :state %>
    <%= addresses_form.text_field :state %>

    <%= addresses_form.label :zip_code %>
    <%= addresses_form.text_field :zip_code %>
  <% end %>

  <%= form.check_box :installed_colony, 'data-toggle': "hive-queen-form" %>
  <%= form.label :installed_colony, "Installed colony already?" %>

  <div class="hidden" id="hive-queen-form" data-toggler=".show">
    <%= form.fields_for :queen, @queen do |queens_form| %>
      <%= queens_form.label :breed, "Queen Breed" %>
      <%= queens_form.select :breed, 
        [["Italian", "italian"], 
         ["Russian", "russian"], 
         ["Carniolan", "carniolan"], 
         ["Saskatraz", "saskatraz"], 
         ["Home Grown", "home_grown"]
        ], { include_blank: '-- Select One --' } %>
    <% end %>
  </div>

  <%= form.submit "Create Hive", class: "button", style: "float: right;" %>
<% end %>
