<h1>New Hive</h1>

<%= form_with model: @hive do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.fields_for :addresses do |addresses_form| %>
    <%= addresses_form.label :street %>
    <%= addresses_form.text_field :street %>

    <%= addresses_form.label :street2 %>
    <%= addresses_form.text_field :street2 %>

    <%= addresses_form.label :city %>
    <%= addresses_form.text_field :city %>

    <%= addresses_form.label :state %>
    <%= addresses_form.text_field :state %>

    <%= addresses_form.label :zip_code %>
    <%= addresses_form.text_field :zip_code %>
  <% end %>

  <% @hive.errors.full_messages_for(:name).each do |message| %>
    <div><%= message %></div>
  <% end %>

  <%= form.submit "Create Hive", class: "button", style: "float: right;" %>
<% end %>
