<h1>New Hive</h1>

<%= form_with model: @hive do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <% @hive.errors.full_messages_for(:name).each do |message| %>
    <div><%= message %></div>
  <% end %>

  <div><%= form.submit "Create Hive" %></div>
<% end %>
