<h3><%= @hive.name %> </h3>

<% if @hive.current_address %>
  <div class="callout">
    <%= @hive.current_address.street %><br>
    <% unless @hive.current_address.street2.blank? %>
      <%= @hive.current_address.street2 %><br>
    <% end %>
    <%= @hive.current_address.line3 %>
  </div>
<% end %>

<%= link_to "Add Inspection", new_hive_inspection_path(@hive), class: "button", style: "float: right;" %>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Honey Stores</th>
      <th>Queen Status</th>
    </tr>
  </thead>
  <tbody>
    <% @inspections.each do |inspection| %>
      <tr>
        <td><%= inspection.date %></td>
        <td><%= inspection.honey_stores %></td>
        <td><%= inspection.queen_status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
