<h1>New Inspection</h1>
<%= form_with model: @inspection, url: hive_inspections_path(@hive), 'data-abide': true, novalidate: true do |form| %>
  <div class="grid-x grid-padding-x">
    <div class="large-6 cell">
      <label>
        Inspection Date
        <%= form.date_field :date, required: true %>
      </label>
    </div>

    <div class="large-6 cell">
      <label>Queen Status
        <%= form.select :queen_status, [["Right", "right"], ["Laying Workers", "laying_workers"], ["Caged", "caged"], ["Virgin", "virgin"]], { include_blank: '-- Select One --' }, required: true %>
      </label>
    </div>
  </div>

  <div class="grid-x grid-padding-x">
    <fieldset class="large-6 cell">
      <legend>Honey Stores</legend>
      <%= form.radio_button :honey_stores, "low"%>
      <%= form.label :honey_stores_low, "Low" %>

      <%= form.radio_button :honey_stores, "moderate" %>
      <%= form.label :honey_stores_moderate, "Moderate" %>

      <%= form.radio_button :honey_stores, "high" %>
      <%= form.label :honey_stores_high, "High" %>
    </fieldset>

    <fieldset class="large-6 cell">
      <legend>Condition</legend>
      <%= form.radio_button :condition, "healthy"%>
      <%= form.label :condition_healthy, "Healthy" %>

      <%= form.radio_button :condition, "needs_attention" %>
      <%= form.label :condition_needs_attention, "Needs Attention" %>
    </fieldset>
  </div>

  <div class="grid-x grid-padding-x">
    <div class="large-6 cell">
      <%= form.label :number_of_frames, "Number of Frames" %>
      <%= form.number_field :number_of_frames, step: 1.0 %>
    </div>
  </div>

  <%= form.submit "Create Inspection", class: "button", style: "float: right;" %>
<% end %>
