<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>HiveManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'app-bundle' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js" integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>
  </head>

  <body>

    <%= react_component("MenuBar", props: {signed_in: signed_in?, current_user: current_user}) %>

    <% flash.each do |key, value| %>
      <div class="callout alert" data-closable>
        <button class="close-button" aria-label="Close alert" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
        <%= value %>
      </div>
    <% end %>


    <div class="grid-container">
      <%= yield %>
    </div>

    <script>
      $(document).foundation();
    </script>
  </body>
</html>
